{% extends 'base.html.twig' %}
{% block title %}Compte
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/compte.css') }}">
{% endblock %}
{% block body %}
<section>
	<div class="retour">
		
    <div class="fleche">
		<a href="/"><img src="{{ asset('images/logos/fleche.png') }}" alt="flèche retourne à la page d'accueil" height="50" width="100"></a>
	</div>
	</div>
	<div class="compte">
	<div class="se_connecter">
			<h2>Accéder à mon compte</h2>
			<p>Pour accéder a votre espace client:</p>
		    <p>Préparer votre adresse email</p>
	        <p>et votre mot de passe.</p>
            <p>Si vous rencontrer des difficultés,</p><p>n'hésitez pas a nous contacter</p>
    <div class="boutton_compte"><div class="bouttoncompte1">
    <a class="" href="/connexion">M'identifier</a></div>
	</div>
	</div>
	<div class="nouveaucompte"><h2>Nouveaux clients</h2><p>Créer un compte est très simple.</p><p>Cliquez simplement sur le bouton</p><p>Créer votre compte ci-dessous,</p><p>remplissez le formulaire</p><p>et profitez des avantages.</p><div class="boutton_compte"><div class="bouttoncompte1"><a class="" href="/inscription">Créer mon compte</a></div></div></div></div> 
</section>
{% endblock %}
