{% extends 'base.html.twig' %}
 {% block stylesheets %}
         <link rel = "stylesheet" href= "{{ asset('css/compte.css') }}" >
{% endblock %} 
{% block body %}
<div class = "retour">
<a href="/"><span class= "fleche"> &#8592;</span></a>
</div>
<div class ="compte">
<div class = "seconnecter">
<h3>Accéder à mon compte</h3>
<p>Pour accéder a votre espace client:</br>
Préparer votre adresse email </br>et votre mot de passe.</br>
Si vous rencontrer des difficultés, </br>n'hésitez pas a nous contacter</p>
{# <form method ="post" action ="traitement.php"> #}
{# <input class ="formulaire" type ="email"/ >
</p>
<P>
<input class ="formulaire" type ="password"/>
</p> #}
<div class ="bouttoncompte">
<div class ="bouttoncompte1">
<a class="" href="/connexion">M'identifier</a>
  </div> 
   </div>     
       </div>
       <div class ="nouveaucompte">
       <h2>Nouveaux clients</h2>
       <p>Créer un compte est très simple.</br> 
       Cliquez simplement sur le bouton</br>  
       Créer un compte ci-dessous,</br> remplissez le formulaire</br> 
       et profitez des avantages.</p>
   <div class ="bouttoncompte">  
   <div class ="bouttoncompte1">  
<a class="" href="/inscription">Créer votre compte</a>
   </div>
      </div>
       </div>
       </div>
{% endblock %}