{% extends 'base.html.twig' %}
 {% block stylesheets %}
         <link rel = "stylesheet" href= "{{ asset('css/compte.css') }}" >
{% endblock %} 
{% block body %}
<div class = "retour">
<a href="/"><span class= "fleche"> &#8592;</span></a>
</div>
<div class ="compte">
<div class = "seconnecter">
<h3>Démarrer la session</h3>
<p>Saisissez votre adresse e-mail et votre mot de passe</p>
<form method ="post" action ="traitement.php">
<P>
<input class ="formulaire" type ="email"/ >
</p>
<P>
<input class ="formulaire" type ="password"/>
</p>
<input class="bouttoncompte"
       type="submit"
       value="Démarrer la session">
       </div>
       <div class ="nouveaucompte">
       <h2>Nouveaux clients</h2>
       <p>Créer un compte est très simple.</br> 
       Cliquez simplement sur le bouton</br>  
       Créer un compte ci-dessous, remplissez le formulaire</br> 
       et profitez des avantages.</p>
       <input class="bouttoncompte"
       type="submit"
       value="Créer un compte">
       </div>
       </div>
       <div class = "conexion">
       <ul class "connexion_deconexion">
       {% if not app.user %}
       <li class= "nav-item">
       <a href="{{ path('security_login')}}" class="nav-link">Connexion</a>
       </li>
        {% else %}
       <li class= "nav-item">
       <a href="{{ path('security_logout')}}" class="nav-link">deconnexion</a>
       </li>
       {% endif %}
       </ul>
       </div>
{% endblock %}