{% extends 'base.html.twig' %}
{% block title %}Conditions générales
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/conditions.css') }}">
	
{% block javascripts %} {% endblock %}


{% endblock %}

{% block body %}
<h4>Conditions générales</h4>
{% endblock %}