{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/contact.css') }}">

{% endblock %}

{% block body %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script type="text/javascript">
(function() {
emailjs.init("user_1Vbd8ipwTz327d7pfOo38");
})();
</script>
<script type="text/javascript">
        window.onload = function () {
        document.getElementById('contact-form').addEventListener('submit', function (event) {
    event.preventDefault();
emailjs.sendForm('service_z4xcbm3', 'contact_form', this).then(function () {
alert("Votre message a bien été envoyé !");
}, function (error) {
alert("Une erreur est survenue, votre message n'a pas été envoyé !");
});
});
}
        </script>
    <div class="conteneur_contact">

<h3> Formulaire de Contact</h3>

    <form id="contact-form">
        <div class="form-row d-block">
            <div class="form-group mx-sm-3 mb-2">
                <inputclass="form-control" type="hidden" name="contact_number">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label>Name</label>
                <input class="form-control" type="text" name="user_name">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label>Email</label>
                <input class="form-control" type="email" name="user_email">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label>Message</label>
                <textarea class="form-control" name="message"></textarea>
            </div>
            <div class="form-group mx-sm-3 mb-2 text-center mt-5">
                <input class="btn btn-info" type="submit" value="envoyer">
            </div>
        </div>
    </form>

		<div class="infos_formulaire">
			<P>What is Lorem Ipsum?
				
				  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
				  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				  It has survived not only five centuries, but also the leap into electronic typesetting, 
				 remaining essentially unchanged. It was popularised in the 1960s with the release of
				  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
				  software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		
		</div>

{% endblock %}