{% extends 'base.html.twig' %}
{% block body %}
<h5>Bienvenue dans votre espace client</h5>
       <p>Merci pour votre fidelité</p>
       <p>On s'excuse pour la gêne occasionnée</p>
       <p>Vous pouvez consulté vos factures prochainement</p>
<div class = "conexion">
       <div class "connexion_deconexion">
       {% if not app.user %}
       <div class= "nav-item">
       <a href="{{ path('security_login')}}" class="nav-link">Connexion</a>
        {% else %}
       <div class= "nav-item">
       <a href="{{ path('security_logout')}}" class="nav-link">Deconnexion</a>
       {% endif %}
       </div>
       
{% endblock %}
