{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
<section>
<div class="fleche">
		<a href="/"><img src="{{ asset('images/logos/fleche.png') }}" alt="flèche retourne à la page d'accueil" height="50" width="100"></a>
	</div>
	<div class="page_connexion">
		<div class="formulaire_connexion">
			<h4>Connexion</h4>
			<form action="{{ path('security_login') }}" method="post">
				<div class="form-group">
					<input placeholder="Adresse email..." required name="_username" type="text" class="form-control">
				</div>
				<div class="form-group">
					<input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
				</div>
			
				<div class="button_validation">
					<button type="submit" class="btn btn-success">Valider</button>
				</div>
			
			</div>
		</div>
</section>


	{% endblock %}
