.apropos{
    margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer {
   
    bottom:0;
    width:100%;
    }
    .photo-apropos{

        width: 350px;
        height: 500px;
        border-radius: 20px;
      
      }
