.contenu-produit{
  height: 200px;
  width: 200px;
  background-color: pink;
  align-self: center;

  

}
.affichage-produit{
  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  
  height: auto;
}
