
.compte{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  


}


.formulaire{
    height: 30px;
    width: 330px;
    background-color: #C4C4C4;
    border-color:  #C4C4C4 ;
}




.bouttoncompte{
    height: 50px;
    width: 340px;
    background-color: black;
    color: white;
}
footer{

        
        position:absolute;
        
        bottom:0;
        
        width:100%;
        
     
        
     }
    .retour {
        margin-left: 50px;
        font-weight: bold;
        width: 30px;
        height : 100px;
        background-color: red;
    }
    .conexion{
        margin-bottom: 100px;
        margin-top: 100px;
    }