
.conteneur_contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 80px;
}
.infos_formulaire {
  width: 500px;
  height: 300px;
  font-size: 18px;
  align-items: center;
  margin-top: 15px;
  text-align: justify;
}
h4{
 margin-top: 60px ;
text-align: center;
font-family: roboto;
font-weight: bold;
}

p{
  font-family: roboto;
}
h5{
  font-family: roboto;
}
.formulaire_contact {
}
.signature{

  text-align: center;

}
