@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
  .fleche{
    margin-left: 100px;
    margin-top: 30px;
  }
.produits-details {
  display: flex;
  flex-direction: row;
  margin: 80px;
}
.image-details {
  height: 500px;
  width: 700px;
  border-radius: 20px;
}

.detail_article {
  margin-left: 100px;
  font-family: Roboto;
}
.bouttonpanier {
  height: 50px;
  width: 340px;
  background-color: black;
  color: white;
  /* margin-top: 10px; */
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 20px;
  font-family: Roboto;
}
h3 {
  font-size: 20px;
  font-family: Roboto;
}
.prix {
  font-weight: bold;
  font-family: Roboto;
}

.la-photo {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 255px;
  max-width: 315px; */
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.la-photo img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.la-photo:hover img,
.la-photo.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (max-width: 1280px) {

  
  .produits-details {
  display: flex;
  flex-direction: column;
  margin: 80px;
}
.detail_article {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.bouttonpanier{
  font-size: 30px;
  width: 450px;
  height: 80px;
}
p{
  font-size: 20px;
}
.image-details {
  height: 600px;
  width: 700px;
}
.fleche{
  margin-top: 50px;
  margin-left: 80px;
}
}