{% extends 'base.html.twig' %}

{% block title %}success{% endblock %}

{% block body %}
	<h7>Votre achat est enregistré</h7>
	<p>
		Si vous avez des questions, veuillez envoyer une adresse e-mail!
		<a href="mailto:be.unique22222@gmail.com">mailto:be.unique22222@gmail.com</a>.
	</p>

{% endblock %}
